nav {
    background-color: rgb(233, 174, 64);
    color: #fff;
    height: 65px;
    font-weight: 600;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}